---
// component imports
import { Icon } from "astro-icon/components";
import Link from "../components/Link.astro";
import socialData from "../data/socialData";
import projectData from "../data/projectData"
import MainLayout from "../layouts/MainLayout.astro";
import skillsData from "../data/skillsData";
import ProjectCard from "../components/ProjectCard.astro";
---

<MainLayout title="About" description="My About Page">
  <section class="container about" aria-label="About Me">
    <img
      src="/images/headshot.jpeg"
      alt="My headshot"
      width="200"
      height="330"
    />
    <div class="content">
      <h1 class="h1">About Me</h1>
      <p>
        My name is <b>Kushal Bhargava</b> and I am a versatile Software Engineer and Full Stack Developer who adapts to any tech stack with ease. 
        Always eager to learn, I stay updated with the latest technologies to build efficient, 
        user-friendly solutions.
      </p>
      <div class="social">
        {
          socialData.map(ele => (
            <a href={ele.href}>
              <Icon name={ele.icon} size={50}/>
            </a>
          ))
        }
      </div>
      <div class="social">
        <Link
          href=""
          style="secondary"
          text="Resume"
        />
        <Link
          href="mailto:kushal.bhargava01@gmail.com"
          style="primary"
          text="Contact Me"
       />
      </div>
    </div>
  </section>
  <section class="container skill" aria-label="Skills">
    <h1>Skills</h1>
    <br>
    <div class="skill-set">
      <div class="skill-view">
        {
          skillsData.frontend.map(ele => (
          <Link
          text={ele.name}
          href=""
          style="primary"
          borderVisible={false}
          isFilled={true}
          icon={{
            name: `${ele.icon}`,
            side: "left",
          }}
        />
          ))
        }
      </div>
      <div class="skill-view">
        {
          skillsData.backend.map(ele => (
          <Link
          text={ele.name}
          href=""
          style="primary"
          borderVisible={false}
          isFilled={true}
          icon={{
            name: `${ele.icon}`,
            side: "left",
          }}
        />
          ))
        }
      </div>
      <div class="skill-view">
        {
          skillsData.labguage.map(ele => (
          <Link
          text={ele.name}
          href=""
          style="primary"
          borderVisible={false}
          isFilled={true}
          icon={{
            name: `${ele.icon}`,
            side: "left",
          }}
        />
          ))
        }
      </div>
      <div class="skill-view">
        {
          skillsData.DataBase.map(ele => (
          <Link
          text={ele.name}
          href=""
          style="primary"
          borderVisible={false}
          isFilled={true}
          icon={{
            name: `${ele.icon}`,
            side: "left",
          }}
        />
          ))
        }
      </div>
    </div>
  </section>
  <br>
  <br>
  <section class="container project">
    <h1>Project</h1>
    <br>
    <div class="project-container">
      {
        projectData.map(ele => (
          <ProjectCard 
            data={ele}
            url={`${ele.link}`}
            tagType="h2"
          />
        ))
      }
    </div>
  </section>
  <br>
  <br>
</MainLayout>