---
// library imports
// import { Image } from "@astrojs/image/components";

// utils imports
import { Image } from "astro:assets";
import { slugify, formatDate } from "../js/utils";

const { category, title, hashnode, author, date, image } = Astro.props;

console.log(hashnode);


---

<header>
  <div class="container">
    <h1 class="h2">{title}</h1>
    <small>
      <a href={`/category/${slugify(category)}/`} class="badge">{category}</a>
    </small>
    <p>
      by <a href={`/author/${slugify(author)}/`}>{author}</a> • {
        formatDate(date)
      }
    </p>
  </div>
  <Image
    src={image.src}
    alt={image.alt}
    width="1200"
    height="600"
    format="avif"
    fit="cover"
    quality={80}
    class="hero-image"
  />

  {hashnode && (
    <div class="hashNode-container">
    <h4>
      <a class="hashNode" href={hashnode} target="_blank" rel="noopener noreferrer">
        <img src="https://img.icons8.com/?size=100&id=HnB8zGOh5xgd&format=png&color=000000" alt="Hashnode" class="hashNode-icon" />
        Also available on Hashnode
      </a>
    </h3>
  </div>
  )}
</header>
