---
// component import
import PostHeader from "../components/PostHeader.astro";
import CategoryCloud from "../components/CategoryCloud.astro";
import MainLayout from "./MainLayout.astro";
import RelatedPosts from "../components/RelatedPosts.astro";
import { getCollection } from 'astro:content';

// Types
interface PostData {
  category: string;
  title: string;
}

interface Post {
  data: PostData;
}


// util imports
import { formatBlogPosts } from "../js/utils";

const { data } = Astro.props;

const { title, description, date, hashnode, category, author, image } = data;

const allPosts = await getCollection('blog');

// const matches = import.meta.glob("../pages/blog/*.md", { eager: true });
// const allPosts = Object.values(matches);

const formattedPosts = formatBlogPosts(allPosts, {
  sortByDate: false,
});
const relatedPosts = formattedPosts
  .filter(
    (post:Post) =>
      post.data.category.toLowerCase() === category.toLowerCase() &&
      post.data.title !== title
  )
  .slice(0, 3);


// Get all entries from a collection.
// Requires the name of the collection as an argument.


// console.log(title);

---

<MainLayout 
  {title} 
  {description} 
  image={data.image}
  {data}
  robots={data.robots}
>
  <PostHeader {title} {description} {date} {hashnode} {category} {image} {author} />
  <div class="post-content">
    <div class="content">
      <slot />
    </div>
    <div class="sidebar">
      <aside class="container" aria-label="Blog categories">
        <h2 class="h3">Blog Categories</h2>
        <CategoryCloud />
      </aside>
      {
        relatedPosts.length > 0 && (
          <aside class="container" aria-label="Related posts">
            <h2 class="h3">Related Posts</h2>
            <RelatedPosts {relatedPosts} />
          </aside>
        )
      }
    </div>
  </div>

  {hashnode && (
    <div class="hashNode-container-footer">
      <h4>
        <a class="hashNode" href={hashnode} target="_blank" rel="noopener noreferrer">
          <img src="https://img.icons8.com/?size=100&id=HnB8zGOh5xgd&format=png&color=000000" alt="Hashnode" class="hashNode-icon" />
          Found it helpful? Let me know on Hashnode!
        </a>
      </h3>
    </div>
  )}
</MainLayout>